.card-img-top{
    height: 120px;
    width: 120px;
    border-radius: 100%;
    margin-left: 75px;
}

.btn{
    margin-top: 70px;
}

.btn a.to-feedback {
    padding: 10px;
}

.btn:hover {
    background-color: lightblue;
}

.card-body1{
    background: linear-gradient(to bottom,rgb(26, 70, 125),rgb(24, 79, 143),rgb(103, 162, 233));
    border: 4px solid rgb(1, 1, 1);
    border-radius: 10px;
    height:400px;
    width: 280px;
}

.feedback-container {
    border: 3px solid rgb(2, 27, 118);
    height: 800px;
    border-radius: 10px;
    padding: 20px;
    margin: 40px auto;
}

.feedback-title {
    margin-bottom: 30px;
    font-family: none;
    color: rgb(3, 60, 103);
}

.card-text {
    padding: 5px;
}

.card-title{
   font-family: fantasy;
    padding: 6px;
    color: black;
}
