.sessions-container {
    border: 5px solid steelblue;
    padding: 15px;
    box-shadow: 5px 5px 5px 5px steelblue;
    width: 100%;
}

.T8 th , .T8 td { 
    border: 2px solid black;
    padding: 5px;
    font-size: 18px;
}

.T8 th {
    font-weight: bold;
}

.T8 {
    width: 100%;
}